<ion-header>
  <ion-navbar left hideBackButton>
    <ion-title >
      Home
    </ion-title>
    <ion-buttons right>
      <button icon-only ion-button (click)="autoSearchPage()">
        <ion-icon name="md-search"></ion-icon>
      </button>
      <button icon-only ion-button (click)="filter()">
        FILTERS
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="loader" *ngIf="!mainData">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="mainData && !propData">
    <ion-item class="mTB10"  (click)="goDetails({details:add})" *ngFor="let add of mainData.recommend;let i=index">

      <ion-avatar item-start>

        <img [src]="'http://tamleek-eg.com/tamlek/'+add.images[0].path" >
                <div class="contImg"><i class="fa fa-camera" aria-hidden="true"></i> 10</div>

      </ion-avatar>
      <div >
          <h3 class="bBold">
              {{add.cost}} EGP
              <!-- <ion-icon name="md-heart" color="danger" class="fRight"></ion-icon> -->
            </h3>
            <h4>
              <span> Villa </span>
      
              <span class="bedSpan"> <i class="fa fa-bed" aria-hidden="true"></i> {{add.room}} </span>
      
              <span> <i class="fa fa-bath" aria-hidden="true"></i> {{add.bathroom}} </span>
      
            </h4>
            <p>
              I've had a pretty messed up day.
            </p>
            <p>
              I've had a pretty messed up day
            </p>
        </div>

     
    </ion-item>
  </ion-list>
  <ion-list *ngIf="propData ">
    <ion-item class="mTB10"  (click)="goprpDetails({propdetails:add})" *ngFor="let add of propData;let i=index">

      <ion-avatar item-start>

        <img [src]="'http://tamleek-eg.com/tamlek/'+add.images[0].path" >
                <div class="contImg"><i class="fa fa-camera" aria-hidden="true"></i> 10</div>

      </ion-avatar>
      <div >
          <h3 class="bBold">
              {{add.cost}} EGP
              <!-- <ion-icon name="md-heart" color="danger" class="fRight"></ion-icon> -->
            </h3>
            <h4>
              <span> Villa </span>
      
              <span class="bedSpan"> <i class="fa fa-bed" aria-hidden="true"></i> {{add.room}} </span>
      
              <span> <i class="fa fa-bath" aria-hidden="true"></i> {{add.bathroom}} </span>
      
            </h4>
            <p>
              I've had a pretty messed up day.
            </p>
            <p>
              I've had a pretty messed up day
            </p>
        </div>

     
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar transparent>

          <ion-buttons >
              <button ion-button class="sortBy viewSpan" (click)="goView()">
                View
              </button>
              <button ion-button class="showMap sortSpan"  (click)="sortByModal()">
               Sort
              </button>
            </ion-buttons>

  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar transparent>
    <ion-buttons end>
      <button ion-button class="sortBy" (click)="sortByModal()">
        <i class="fa fa-sliders" aria-hidden="true"></i>
      </button>
      <button ion-button class="showMap"  (click)="mapModal()">
        <i class="fa fa-map" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
