<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid *ngIf="!userData">

    <ion-row>
      <ion-col text-center>
        <p>
          Sign in or register to sync your favorite properties across devices
        </p>
      </ion-col>
    </ion-row>


    <ion-row class="loginRow">
      <ion-col text-center col-6 (click)="goPage(loginPage)">
        <span>
          Login in with email
        </span>
      </ion-col>
      <ion-col text-center col-6 (click)="goPage(createAccountPage)">
        <span>
          Create account
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="userData">
    
    <ion-row>
      <ion-col>
        <span class="color1">
          General
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="bt bb ptb">
      <ion-col>
        <span class="color2">
          Name
        </span>
        <br>
        <span>
          {{userData.name}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="bt bb ptb">
      <ion-col>
        <span class="color2">
          Email
        </span>
        <br>
        <span>
          {{userData.email}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="bt bb ptb">
      <ion-col>
        <span class="color2">
          Address
        </span>
        <br>
        <span>
          {{userData.address}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="bt bb ptb">
      <ion-col>
        <span class="color2">
          country
        </span>
        <br>
        <span>
          Egypt
        </span>
      </ion-col>
    </ion-row>

    <ion-row class=" bb ptb">
      <ion-col>
        <span  class="color2">
          Area unit
        </span>
        <br>
        <span>
           Square meter
          </span>
      </ion-col>
    </ion-row>

    <ion-row  class="bt bb ptb">
      <ion-col>
        <span class="color2">
          Currency 
        </span>
        <br>
        <span>
            L.E 
          </span>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
