page-create-account {
    .scroll-content {
        background-color: #ffffff !important;
      }
    
      .forget {
        padding: 20px 0px;
        color: #488aff;
      }
    
      .searchBtn {
        display: inline-block !important;
        vertical-align: middle !important;
        text-decoration: none !important;
        letter-spacing: 1px !important;
        bottom: 56px !important;
        width: 100% !important;
        position: absolute !important;
        background-color: #fb4b05 !important;
        text-transform: none !important;
      }
    
      ion-item{
        box-shadow: none !important;
      }
    
}
