page-details {
  .scroll-content {
    background-color: #ffffff !important;
    margin-bottom: 56px !important;
  }

  ion-content {
    position: relative !important;
  }

  .mb5 {
    margin-bottom: 10px !important;
  }

  .m0 {
    margin: 0px !important;
  }
.fb{
    font-weight: bold !important;
}
.viewBrok{
    font-weight: bold;
    margin-top: 10px;
    i{
        font-size: 16px !important;
    }
}
  .iconColor{
    color: #fb4b05!important;
    margin-right: 10px!important;
    font-size: 20px!important;
  }
  .viewMap{
    border-top: 1px solid #b9b9b9!important;
    border-bottom: 1px solid #b9b9b9!important;
    padding: 11px;
    margin: 10px 0px;
    font-weight: bold;

  }
  .tag {
    float: right !important;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;

    button {
      background-color: rgba(102, 51, 153, 0) !important;
    }

    .fav {
      color: #f53d3d !important;
      font-size: 16px !important;
    }

    .unfav {
      color: white !important;
      font-size: 16px !important;
    }

    .share {
      color: black !important;
      font-size: 16px !important;
    }
  }

  .swiper-pagination-bullet .swiper-pagination-bullet-active {
    background-color: #fb4b05 !important;
  }

  .swiper-pagination-bullet {
    background-color: white !important;
  }
}
